# Block direct access
RewriteEngine On
RewriteRule ^data/ - [F]
RewriteRule ^config\.php$ - [F]

# Allow only needed
RewriteCond %{REQUEST_URI} !^/static/
RewriteCond %{REQUEST_URI} !^/public/projects/
RewriteCond %{REQUEST_URI} !^/admin/
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule ^ - [F]